@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin cardItem($color) {
    width: 350px;
    // max-width: 450px;
    padding: 40px;
    background-color: $color;

    img{
        margin-bottom: 30px;
    }

    h1{
        color: $neutral-clr-two;
        font-family: $primary-font;
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    p{
        color: $neutral-clr-one;
        font-family: $secondary-font;
        font-size: 1.5rem;
        margin-bottom: 25px;
        width: 230px;
    }

    .cta{
        display: inline-block;
        text-decoration: none;
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: $color;
        padding: 15px 30px;
        background-color: $neutral-clr-two;
        border-radius: 25px;
    }

    // Laptop screen
    @media screen and (min-width: 1440px) {
        width: 300px;

        p{
            margin-bottom: 90px;
            width: 220px;
            line-height: 25px;
        }
    }
    // End Laptop screen

}


